# ================================
#              IDEs
# ================================
.idea
.vscode
*.iml
# ================================
#              IAs
# ================================
.claude
.gemini
.junie
# ================================
#              Java
# ================================
**/target
**/*.pdf
data/